apprise/assets/NotifyXML-1.1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.xmlsoap.org/soap/envelope/" schemaLocation="http://schemas.xmlsoap.org/soap/envelope/"/>
  <xs:element name="Notification">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Version" type="xs:string" />
        <xs:element name="Subject" type="xs:string" />
        <xs:element name="MessageType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="success" />
              <xs:enumeration value="failure" />
              <xs:enumeration value="info" />
              <xs:enumeration value="warning" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Message" type="xs:string" />
        <xs:element name="Attachments" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Attachment" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="mimetype" type="xs:string" use="required"/>
                      <xs:attribute name="filename" type="xs:string" use="required"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element> 
            </xs:sequence>
            <xs:attribute name="encoding" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
